Chocolate Bar Ratings
https://www.kaggle.com/rtatman/chocolate-bar-ratings

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('/Users/harsha/Downloads/flavors_of_cacao.csv')
df.head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
Company
(Maker-if known)           1795 non-null object
Specific Bean Origin
or Bar Name    1795 non-null object
REF                                 1795 non-null int64
Review
Date                         1795 non-null int64
Cocoa
Percent                       1795 non-null object
Company
Location                    1795 non-null object
Rating                              1795 non-null float64
Bean
Type                           1794 non-null object
Broad Bean
Origin                   1794 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [7]:
df.columns =df.columns.str.replace('\n', ' ').str.replace('\xa0', '')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
Company (Maker-if known)            1795 non-null object
Specific Bean Origin or Bar Name    1795 non-null object
REF                                 1795 non-null int64
Review Date                         1795 non-null int64
Cocoa Percent                       1795 non-null object
Company Location                    1795 non-null object
Rating                              1795 non-null float64
Bean Type                           1794 non-null object
Broad Bean Origin                   1794 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [8]:
df['Cocoa Percent']=df['Cocoa Percent'].apply(lambda x: x[:-1]).astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
Company (Maker-if known)            1795 non-null object
Specific Bean Origin or Bar Name    1795 non-null object
REF                                 1795 non-null int64
Review Date                         1795 non-null int64
Cocoa Percent                       1795 non-null float64
Company Location                    1795 non-null object
Rating                              1795 non-null float64
Bean Type                           1794 non-null object
Broad Bean Origin                   1794 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [17]:
df.corr()
sns.heatmap(df.corr())

In [19]:
df.columns.values

array(['Company (Maker-if known)', 'Specific Bean Origin or Bar Name',
       'REF', 'Review Date', 'Cocoa Percent', 'Company Location', 'Rating',
       'Bean Type', 'Broad Bean Origin'], dtype=object)

In [21]:
df['Rating'].head()

0    3.75
1    2.75
2    3.00
3    3.50
4    3.50
Name: Rating, dtype: float64

In [22]:
sns.countplot(x ='Rating', data=df)

In [32]:
#Where are the best cocoa beans grown
rating=df.groupby('Rating')

In [36]:
df1=df[['Specific Bean Origin or Bar Name','Rating']]
df1.count()

Specific Bean Origin or Bar Name    1795
Rating                              1795
dtype: int64

In [62]:
df2=df1.groupby('Specific Bean Origin or Bar Name').mean()
df3=df2.sort_values('Rating', ascending=False)
df3.head()

                                      Rating
Specific Bean Origin or Bar Name
Toscano Black                       4.166667
Porcelana, Zulia                    4.000000
Asante                              4.000000
San Juan de Cheni                   4.000000
Ocumare, Puerto Cabello, Venezuela  4.000000

In [77]:
#Which countries produce the highest-rated bars?
#Broad Bean Origin

df3=df[['Broad Bean Origin','Rating']]
df4=df3.groupby('Broad Bean Origin').mean()
df5=df4.sort_values('Rating', ascending=False)
df5.head()

                              Rating
Broad Bean Origin
Ven, Bolivia, D.R.               4.0
Dom. Rep., Madagascar            4.0
Guat., D.R., Peru, Mad., PNG     4.0
Venezuela, Java                  4.0
Gre., PNG, Haw., Haiti, Mad      4.0

In [72]:
#What’s the relationship between cocoa solids percentage and rating?
df['Cocoa Percent'].corr(df['Rating'])

-0.16482017762424422

In [78]:
df6=df[['Cocoa Percent','Rating']]
df7=df6.groupby('Cocoa Percent').mean()
df8=df7.sort_values('Rating', ascending=False)
df8.head()

                 Rating
Cocoa Percent
50.0           3.750000
63.0           3.604167
69.0           3.500000
66.0           3.380435
67.0           3.351852

Neative corellation-- Lower the cocoa solids percentage, Higher the ratings